*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif ;
}
body{
    --nav-height: 80px;
    padding-top: var(--nav-height);
    color: #171717;
    background: url(psu.jpg);
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
  }
nav{
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 1;
    list-style: none;
    height: 80px;
    width: 100%;
    position: fixed;
    transition: 0.2s;
   
    
    align-items: center;
   
}
#logo{
    margin-left: 50px;
    line-height: 80px;
    width: 75px;
    height: 70px;
    
}
nav label{
    
    line-height: 80px;
    font-weight: bolder;
   
    font-size: 40px;
    
}
nav ul {
    margin-left: 75%;
    margin-right: 20px;
}
nav ul li {
    
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
}
.header{
    width: 100%;
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    backdrop-filter: blur(40px);
    
    background-size: cover;
   
    
}
#sepo{
    margin-top: 17%;
    font-size: 80px;
    border-radius: 30px;
    color: white;
}

.booking{
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    margin-bottom: 150px;
    
    
}

.booking form{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    background: #EDEDED;
    
    border-radius: 30px;
}
.booking form h1{
    text-align: center;
    
}
.booking form img{
   padding: 20px;
    width: 225px;
    height: 200px;
    align-self: center;
    
}
.booking form select, input{
    font-size: 20px;
    height: 40px;
    border: solid 2px gray;
    border-radius: 10px;
}
.booking form label{
    margin-top: 20px;
}

.booking form button{
    width: 50%;
    margin-top: 10px;
    border: solid 2px gray;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
    background: #2074f4;
    color: #EDEDED;
    padding: 10px;
}
#message{
    font-size: 20px;
    height: 100px;
    
    border-radius: 10px;
}

@media screen and (max-width: 390px){
    #logo{
        margin-left: 65px;
    }
    .header{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        backdrop-filter: blur(40px);
        background-size: cover;
    }
    #sepo{
        margin-top: 2%;
        font-size: 50px;
        border-radius: 30px;
        color: white;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .booking{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        margin-bottom: 10px;
    }

    .booking form{
        width: 90%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        padding: 10px;
        background: #EDEDED;
        border-radius: 30px;
    }
    .booking form h1{
        text-align: center;
    }
    .booking form img{
    padding: 10px;
        width: 125px;
        height: 115px;
        align-self: center;
    }
    .booking form select, input{
        font-size: 12px;
        height: 30px;
        border: solid 2px gray;
        border-radius: 10px;
    }
    .booking form label{
        margin-top: 20px;
    }

    .booking form button{
        width: 50%;
        margin-top: 10px;
        border: solid 2px gray;
        border-radius: 10px;
        font-size: 12px;
        align-self: center;
        background: #2074f4;
        color: #EDEDED;
        padding: 10px;
    }
    #message{
        font-size: 12px;
        height: 100px;
        
        border-radius: 10px;
    }
}